@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Xanh+Mono&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --font-title: "Arapey", serif;

  --color-theme-green: #75826b;
  --color-theme-brown: #b6927c;
  --color-theme-dark-green: #091f01;
  --color-theme-beige: #f5f4f0;
  --color-theme-pink: #eae2db;
}

.font-mono {
  font-family: "Quicksand", sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}
h1,
h2,
h3 {
  font-family: "Arapey", serif;
}
h4 {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-big {
  max-width: 1240px;
}
.container-small {
  max-width: 900px;
}
.container-big,
.container-small {
  padding: 16px 32px;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .container-big,
  .container-small {
    max-width: 100%;
  }
}
